<!DOCTYPE html>
<html>
    <head>
        <title>Upload Image</title>
    </head>
        <body>
            <div>
                <form method="post" action="/upload" enctype="multipart/form-data">
                    <input type="file" name="files" multiple />
                    <button type="submit">Upload</button>
                </form>
            </div>
        </body>
</html>